@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a  {
    text-decoration: none;
}

body {
    font-family: "Montserrat";
    font-size: 10px;
    color: #000;
}

header {
    width: 100%;
    min-height: 80px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #a8e6cf;
    
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

header > h3 {
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: #ffaaa5;
}


nav {
    width: 400px;
    min-height: 60px;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
nav > a {
    font-size: 18px;
    margin: 10px;
    text-align: center;
    letter-spacing: 2px;
    color:#fdffab;
    transition: all 0.3s;
    text-decoration: none;
}

nav > a:hover {
 color: #f3e8cb;
}


.block-home {
    width: 100%;
    min-height: 660px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background: url(../img/fon7.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.block-home > h1 {
    font-size: 62px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    
    margin-bottom: 20px;
    transition: all  0.4s;
}
.block-home > h1:hover {
         color: #000;
         font-size: 65px;

}


.block-home > p {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    
    margin-bottom: 20px;
}

.block-home > button {
    width: 240px;
    min-height: 48px;
    background-color: #fff;
    
    border: none;
    border-radius: 10px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-size: 18px;
    
    margin-bottom: 20px;
    transition: all 0.4s;
}
.block-home > button:hover {
      background-color: rgba(255, 255, 255, 0);
      color:#fff;
      border: 2px solid #fff;

}
/*-------------------------*/

.about {
    width: 100%;
    min-height: 400px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E0FFFF;

    
    padding-top: 60px;
    padding-bottom: 60px;
}

.about > h2 {
    font-size: 42px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    margin-bottom: 20px;
}
.about > img {
    width: 20%;
    margin-bottom: 20px;
    border:3px solid #000;
}
.about > p {
    width: 50%;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
}


.im {
    width:100%;
    min-height: 600px;

    border:1px solid #000;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background-color:#fdffab;

}
.im > h2 {
    font-size: 42px;
text-transform:uppercase;

}
.box {
    width: 100%;
    min-height:200px;

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    padding: 10px;
}

.item {
    width: 300px;
    height: 200px;

    display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;

border:3px solid #9df3c4;



    margin: 10px;
    transition: all 0.4s;
}
.item:hover {
    transform: rotate(10deg);

}

.item-1{

background: url(../img/item-1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.item-2{

background: url(../img/item-2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.item-3{

background: url(../img/item-3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
 .item-4{

background: url(../img/item-4.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.item-5{

background: url(../img/item-5.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.item-6{

background: url(../img/item-6.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.item-7{

background: url(../img/item-7.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.item-8{

background: url(../img/item-8.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.info{
    width: 100%;
   height:60px;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
  background-color: rgba(7, 7, 7, 0.66);
}
.info > p {
color:#fff;
font-size: 18px;
}
.block-work {
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffd3b6;
}
.block-work > h2 {
    font-size: 48px;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.box-work {
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    flex-wrap: nowrap;
}
.work-item {
    width: 300px;
    min-height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    transition: all 0.8s;
}
.work-item-1 {
    background-image:url(../img/sky.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
}
.work-item-2 {
    background-image:url(../img/night.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat; 
}
.work-item > h3{
    font-size: 37px;
    color: #fff;
    font-weight: 900;

    
}
.work-item:hover {
    background-position: left;
}
footer{

    width: 100%;
    height:60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #C71585;
    padding: 10px;
}
footer > p {

color: #fff;
font-size: 18px;
margin-right:10px; 
}
.sky {
    width: 100%;
    min-height:100%;
    background: url(../img/sky.jpg);
    background-size: 110%;
    background-position: left;
    background-repeat: no-repeat;

    overflow-y: hidden; 
    overflow-x: hidden; 
    position: fixed;
    animation: sky 20s linear 0s infinite;
    animation-direction: alternate-reverse;
}
@keyframes sky {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}


.sun {
    position: absolute;
    top: 100px;
    left: 40%;
    width: 300px;
    animation: sun 1s linear 0s infinite;
    animation-direction: alternate-reverse;
}

@keyframes sun {
    0%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
.obl1 {
    position: absolute;
    top: 50px;
    left: -50%;
    width: 400px;
    animation: obl1 30s linear 0s infinite;
   
}

@keyframes obl1 {
    0%{
        left: -50%;
    }
    100%{
        left: 100%;
    }
}
.obl2 {
    position: absolute;
    top: 300px;
    right:  -50%;
    width: 600px;
    animation: obl2 40s linear 0s infinite;
}

@keyframes obl2 {
    0%{
        right: -50%;
    }
    100%{
        right: 100%;
    }
}
.main-gallery{
    width: 100%
    min-height: 300px;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    background-color: #f5eee6;
}

.main-gallery > h1 {
    font-size: 72px;
    margin-bottom: 40px;
    margin-top: 40px; 
    color: #008B8B;
}
.block-gallery {
    width: 100%;
    min-height: 200px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f5eee6; 
}
.block-gallery > a {
    width: 25%;
    min-height: 300px;
    margin: 2px;

}
.item-gallery {
    width: 100%;
    min-height: 300px;

}
.item-gallery:hover {
    filter:grayscale(50%);
    transition: all 0.3s;
}
.g-1 {
     background: url(../img/1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.g-2 {
     background: url(../img/2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
}
.g-3 {
     background: url(../img/3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
}
.g-4 {
     background: url(../img/4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
}
.g-5 {
    background: url(../img/5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
}
.g-6 {
    background: url(../img/6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
}
.g-7 {
    background: url(../img/7.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
}
.g-8 {
    background: url(../img/8.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
}
.g-9 {
    background: url(../img/9.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
}
.g-10 {
    background: url(../img/photo-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
}
.g-11 {
    background: url(../img/photo-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
}
.g-12 {
    background: url(../img/photo-3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
}




/*----------- night --------------*/


.night {
    width:100%; 
    min-height:100%;

    background: url(../img/night.jpg);
    background-size: 110%;
    background-position: left;
    background-repeat: no-repeat;

    overflow-y: hidden;
    overflow-x: hidden;
    position: fixed;
    animation: sky 10s linear 0s infinite;
    animation-direction: alternate-reverse; 
}
@keyframes sky {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}
.moon {
    width: 200px;
    height: auto;
    position: absolute;
    top:100px;
    right: 100px;
    animation: moon 4s linear 0s infinite;
    animation-direction: alternate;
}

@keyframes moon {
    0% {
        transform: rotate(0deg);  
    }

    100% {
        transform: rotate(30deg);
    }
}

.zvezda-1 {
   width: 80px;
   height: auto;
   margin-top: 190px;
   margin-left: 120px;


   position: absolute;
   animation: zvezda-1 2s linear 0s infinite;
    animation-direction: alternate;
     
}
@keyframes zvezda-1 {
    0%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
.zvezda-2 {
   width: 60px;
   height: auto;
   margin-top: 300px;
   margin-left: 700px;

   position: absolute;
      animation: zvezda-2 3s linear 0s infinite;
    animation-direction: alternate;
     
}
@keyframes zvezda-2 {
    0%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
.zvezda-3 {
   width: 40px;
   height: auto;
   margin-top: 140px;
   margin-left: 560px;

   position: absolute;
     
animation: zvezda-3 4s linear 0s infinite;
animation-direction: alternate;
     
}
@keyframes zvezda-3 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.5s;
    }
}
.zvezda-4 {
   width: 20px;
   height: auto;

   position: absolute;
   top:0;
   right: 0;
    animation: zvezda-4 5s linear 0s infinite;

      
}
@keyframes zvezda-4 {
    0%{
        top:0;
        right:0;
        opacity: 1;
    }
     75%{
       top: 100%;
       right: 100%;
       opacity: 0.2;
    }
    100%{
       top: 100%;
       right: 100%;
       opacity: 0;
    }
}
.zv {
    width: 100%;
    height: auto;

    position: absolute;
    top: 0;
    left: 0;

    animation: zv 40s linear 0s infinite;                  
}
@keyframes zv {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
@media screen and (max-width: 700px) {
header> h3 {
    font-size: 20px;
}
    header {
        flex-direction: column;
    
    }
    nav {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
.block-home > h1 {
        font-size: 22px;
    }

    .block-home > p {
        font-size: 16px;
    }

    .block-home {
        min-height: 400px;
    }

    .about > h2 {
        font-size: 24px;
    }

    .about > p {
        width: 90%;
        font-size: 16px;
    }

    .im > h2 {
        font-size: 24px;
    }

    .im {
        padding: 16px;
    }

    .block-work > h2 {
        font-size: 24px;
        margin-top: 20px;
    }

    .box-work {
        flex-direction: column;
    }

    .box-work > a  {
        width: 100%;
    }

    .work-item {
        width: 90%;
        min-height: 200px;
    }

    .about > img {
        width: 60%;
    }

}
/*-------- game --------*/

.game-fon{
            width: 100%;
            height: 60%;

            background-image: url(../img/fonGame.jpg);
            background-position: left;
            background-size: 110%;
            background-repeat: repeat;

            position: fixed;
            animation: fon 10s linear 0s infinite;
            animation-direction: alternate;
        }
            
        .game-rool {
             width: 100%;
             height: 20%;

             background-color: #000;
             position: fixed;
             top: 60%; 
        }

        .game-rool > span {
             width: 120px;
             height: 16px;
             background-color: #fff;
             top: 42%;
             right: -120px;
             position: absolute;

            /* animation: ri 8s linear 0s infinite;*/
             /*animation-direction: alternate;*/
        }
        .ri-1 {
         animation: ri 8s linear 0s infinite;   
        }
        .ri-2 {
         animation: ri 8s linear 2s infinite;   
        }
        .ri-3 {
         animation: ri 8s linear 4s infinite;   
        }
        .ri-4 {
         animation: ri 8s linear 6s infinite;   
        }


        .game-grass {
            width: 100%;
            height: 20%;

            background-color:#1e9f00;
            position: fixed;

            top: 80%;
        }
        .orig {
            width: 140px;
            position: absolute;
            bottom: 5%;
            right: -140px;
             z-index: 10;
        }
        .orig-1 {
            bottom: 60%;
         animation: ri 8s linear 1s infinite;   
        }
        .orig-2 {
            bottom: 3%;
         animation: ri 8s linear 2s infinite;   
        }
        .orig-3 {
            bottom: 50%;
         animation: ri 8s linear 3s infinite;   
        }
        .orig-4 {
         animation: ri 8s linear 5s infinite;   
        }

        @keyframes fon {
            0% {
                background-position: left;
            }

            100% {
                background-position: right;
            }
        }

        @keyframes ri {
            0% {
               right: -140px;
            }

            100% {
               right: 100%;
            }
        }
        .bird-1 {
            width: 100px;
            position: absolute;
            top: 200px;
            left: -110px;
            animation: bird 7s linear 4s infinite;
        }
         @keyframes bird {
            0% {
               left: -120px;
            }

            100% {
              left: 140%;
            }
        }
        .bird-2 {
            width: 30px;
            position: absolute;
            top: 120px;
            left: -120px;
            animation: bird 20s linear 6s infinite;
        }
        .bird-3 {
            width: 55px;
            position: absolute;
            top: 120px;
            left: -120px;
            animation: bird 13s linear 2s infinite;
        }
        .man {
            width: 340px;
            position: absolute;
            bottom: 5%;
            transition: all 0.5s;
            z-index: 11;
        }
        .man:hover {
            bottom:60%; 
        }
        .grass{
            width: 110%;
            height: 220px;
            position: absolute;
            bottom:0;
            left: 0;
            animation: grass 3s linear 0s infinite;
            animation-direction: alternate;

        }
        @keyframes grass  {
            0% {
               left: 0;
            }

            100% {
              left: -10%;
            }
        }
        .bab-1 {
            width: 300px;
            position: absolute;
            bottom: 10%;
            left: 70%;
        }
        .bab-2 {
            width: 300px;
            position: absolute;
            bottom: 10%;
            left: 40%;
        }
        .bab-3 {
            width: 300px;
            position: absolute;
            bottom: 10%;
            left: 10%;
        }


    


